.thanos{
	border-style: solid;
	color: blue;
	font-size: 20px;
    text-align: center;
}
body{
	background-image:url(C:\wamp\www\student\hostel management\pictures/qrl.png);
	background-color: red;
}
#{
	border-style: solid;
	
}