.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    transition-duration: 2s;
    margin: 200px;
}
.box:hover{
    /* transform: translate(30px, 40px); */
    /* transform: translate(30px, 0); */
    /* transform: translate(0, 50px); */
    /* transform:  translate(x-axis, y-axis); */

    /* transform: translateX(50px) */
    /* transform: translateY(50px) */

    /* transform: perspective(500px) translateZ(100px); */
    /* transform: perspective(500px) translateZ(-300px); */
    /* transform: perspective(500px) translate3d(30px, 40px, 100px); */
}

.box:hover{
    /* transform: rotate(180deg); */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(360deg); */
    /* transform: rotateZ(180deg); */
    /* transform: rotate3d(1, 0, 1, 180deg); */
}